@model IEnumerable<TravelConnect.Models.TripModel>
@using TravelConnect.Enums

@{
    ViewData["Title"] = "My Trips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Trips</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxTravellers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DestinationCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripEndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxTravellers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TravelMode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>You have no trips to display</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Count() > 0)
{
    @foreach (var item in Model)
    {
        
            <div class="card" onclick="window.location.href='/Trip/Details/@item.Id'">
                <img src="~/images/@item.CustomPicturePath" alt="Trip Image" class="trip_image">
                
                <a href="/Trip/Edit/@item.Id">
                    <div class="edit-trip">
                        <div class="icon-edit">

                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-pencil fa-stack-1x"></i>
                            </span>

                        </div>
                    </div>
                    </a>
                    <div class="container">
                        <h4 style="font-size:28px;">
                            <b>
                                @Html.DisplayFor(modelItem => item.DestinationCity)
                            </b>
                        </h4>
                        <p>
                            @Html.DisplayFor(modelItem => item.TripStartDate) - @Html.DisplayFor(modelItem => item.TripEndDate)
                        </p>
                        @if (item.Cost < 500)
                        {
                            <div class="dollar1">
                                <div class="icon">
                                    <i class="fa fa-dollar"></i>
                                </div>
                            </div>
                        }
                        else if (item.Cost >= 500 && item.Cost < 1500)
                        {
                            <div class="dollar2">
                                <div class="icon">
                                    <i class="fa fa-dollar"></i>
                                    <i class="fa fa-dollar"></i>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="dollar3">
                                <div class="icon">
                                    <i class="fa fa-dollar"></i>
                                    <i class="fa fa-dollar"></i>
                                    <i class="fa fa-dollar"></i>
                                </div>
                            </div>
                        }
                        <div class="mode_icon">
                            @switch (item.TravelMode)
                            {
                                case TravelMode.Mode.Car:
                                    <div class="container_icon_car">
                                        <div class="icon">
                                            <i class="fa fa-car"></i>
                                        </div>
                                    </div>
                                    break;

                                case TravelMode.Mode.Airplane:
                                    <div class="container_icon_plane">
                                        <div class="icon">
                                            <i class="fa fa-plane"></i>
                                        </div>
                                    </div>
                                    break;
                                case TravelMode.Mode.Bus:
                                    <div class="container_icon_bus">
                                        <div class="icon">
                                            <i class="fa fa-bus"></i>
                                        </div>
                                    </div>
                                    break;
                                case TravelMode.Mode.Train:
                                    <div class="container_icon_train">
                                        <div class="icon">
                                            <i class="fa fa-train"></i>
                                        </div>
                                    </div>
                                    break;
                                case TravelMode.Mode.Boat:
                                    <div class="container_icon_ship">
                                        <div class="icon">
                                            <i class="fa fa-ship"></i>
                                        </div>
                                    </div>
                                    break;
                            }
                        </div>
                    </div>
</div>
    }
}

