@model IEnumerable<TravelConnect.Models.TripModel>

@{
    ViewData["Title"] = "My Trips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Trips</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxTravellers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DestinationCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripEndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxTravellers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TravelMode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>You have no trips to display</td>
            </tr>
        }
    </tbody>
</table>
